@tailwind base;
@tailwind components;
@tailwind utilities;
@config '../tailwind.config.js';
*,
*::before,
*::after {
  @apply box-border focus:outline-none;
  /* outline: 1px solid red; */
}
:root {
  --primary: 241, 241, 241; /* #f1f1f1 */
  --secondary: 255, 255, 255; /* #ffffff */
  --accent: 0, 172, 255; /* #00acff */
  --customRed: 255, 1, 1; /* #ff0101 */
  --light: 209, 213, 219; /* #d1d5db */
  --DEFAULT: 107, 114, 128; /* #6b7280 */
  --dark: #abc; /* #4b5563 */
}
.dark:root {
  --primary: 18, 18, 18; /* #121212 */
  --secondary: 30, 30, 30; /* #1e1e1e */
  --accent: 0, 172, 255; /* #00acff */
  --customRed: 255, 76, 76; /* #ff4c4c */
  --light: 75, 85, 99; /* #3a3a3a */
  --DEFAULT: 200, 200, 200; /* #a1a1a1 */
  --dark: 209, 213, 219; /* #737373 */
}

@layer utilities {
  .container {
    width: calc(100% - 1rem);
    @apply sm:w-[540px] md:w-[720px] mx-auto;
  }
  .sm-image {
    @apply block rounded-full w-10 object-cover object-center aspect-square;
  }
  .icon-active {
    @apply border-accent border-b-2;
  }
  .search-box {
    @apply relative w-[25%];
    #userSearchedItems {
      @apply absolute left-0 w-full top-full h-fit bg-secondary scale-0 peer-focus:scale-100;
      .searched-item {
        @apply py-2 px-1 hover:bg-customGray-light font-light;
      }
    }
  }
  .post {
    @apply container bg-secondary my-4 rounded-3xl overflow-hidden;
    .post-header {
      @apply flex justify-between items-center py-4 px-3;
      .post-user {
        @apply flex gap-3 flex-grow items-center;
        img {
          @apply sm-image cursor-pointer;
        }
        h3 {
          @apply font-bold text-[1.5rem];
        }
        .post-info {
          @apply flex gap-3;
          h4 {
            @apply text-neutral-500 dark:text-neutral-300 text-[0.9rem];
          }
          h4:first-of-type {
            @apply hover:text-accent cursor-pointer;
          }
        }
      }
      .post-setting-menu {
        @apply scale-0 absolute left-[-125px] bg-primary rounded-lg overflow-hidden;
        button {
          @apply w-[130px] px-2 py-1 hover:text-accent hover:bg-secondary
          border-b border-customGray border-solid cursor-pointer last-of-type:border-none;
        }
      }
      .post-setting-menu.show {
        @apply scale-100;
      }
    }
    .title {
      @apply px-4 text-[1.3rem] font-medium mt-3;
    }
    .desc {
      @apply font-normal px-4 py-3 truncate text-customGray;
    }
    .desc.show {
      @apply overflow-visible whitespace-normal text-pretty break-words hyphens-auto;
    }
    .setting {
      @apply relative;
      > button:first-child {
        @apply pr-4 text-customGray hover:text-accent hidden;
      }
      > button:first-child.show {
        @apply inline-block;
      }
    }
    .post-image {
      @apply relative;
      input {
        @apply hidden;
      }
      .replace-image {
        @apply absolute w-full h-full hover:bg-neutral-500 opacity-70 top-0 left-0 flex items-center justify-center cursor-pointer hidden duration-100;
        i {
          @apply text-accent text-[2rem];
        }
      }
      .replace-image.show {
        @apply flex;
      }
      img {
        @apply w-full object-cover object-top max-h-[300px];
      }
      img.show {
        @apply max-h-max;
      }
    }
    .post-reaction {
      @apply px-4 py-3 text-[1.25rem] *:text-accent flex justify-between items-center;
    }
    .comments {
      @apply hidden;
      .comment-item {
        @apply bg-primary mx-2 rounded-md my-4;
        .comment-header {
          @apply flex justify-between items-center py-4 px-3 border-b-2 border-accent border-solid;
          .comment-user {
            @apply flex gap-3 flex-grow items-center;
            img {
              @apply sm-image cursor-pointer;
            }
            h3 {
              @apply font-bold;
            }
            h4 {
              @apply text-customGray-dark;
            }
          }
        }
        .desc {
          @apply font-light px-4 py-3;
        }
      }
    }
    .comments.show {
      @apply block;
    }
    .add-comment {
      @apply flex mt-6 mb-3 mx-2 py-2 px-4 rounded-full *:block gap-1 items-center justify-between bg-primary;
      img {
        @apply sm-image self-start;
      }
      .add-input {
        @apply focus:outline-none flex-grow pl-4 bg-transparent;
      }
    }
  }
}
.incorrect-input {
  @apply border border-solid border-customRed;
}
#file-preview {
  @apply max-w-full;
}
img[src="#"] {
  @apply hidden;
}
#toggle-mode[dark] {
  button:first-child {
    scale: 1;
  }
  button:last-child {
    scale: 0;
  }
}
#toggle-mode {
  button:first-child {
    scale: 0;
  }
  button:last-child {
    scale: 1;
  }
}
#add-post-warning.show,
#save-profile.show,
#edit-profile.show,
#logout.show,
#profile-warning.show {
  @apply scale-y-100;
}
